/** MARCACOES **/

/*magias dano*/
#magia10, #magia30, #magia32, #magia33, #magia43, #magia53, #magia14, #magia24, #magia34   {
   background-color: #d5190b;
}

/*magias dano favorita*/
#magia {
   background-color: #d5190b;
   font-weight: bold;
}

/*magias reacoes*/
#magia {
   background-color: #025956;
   font-weight: bold;
}

/*magias uteis*/
#magia23 {
   background-color: #6a25e2;
}